@inherits LayoutComponentBase
@inject PinLockService PinLock
@using BlazorApp4.Services
@using BlazorApp4.Pages

<!---Injected services:
      - PinLockService (PinLock): Handles the logic for locking/unlocking access via PIN.
      - NavMenu: The sidebar navigation menu for page switching.->
<PinGate>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <!-- Main content area -->
        <main>
            <div class="top-row px-4">
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>

            <!-- The body of the current page is rendered here -->
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</PinGate>
